In [2]:
# basic libs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

# strings
import string
import re

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer,TfidfTransformer,CountVectorizer
from sklearn import pipeline
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv("SMSSpamCollection.csv",delimiter="\t")

In [5]:
df.head()

,ham,I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.
0,spam,Free entry in 2 a wkly comp to win FA Cup fina...
1,ham,"Nah I don't think he goes to usf, he lives aro..."
2,ham,Even my brother is not like to speak with me. ...
3,ham,I HAVE A DATE ON SUNDAY WITH WILL!!
4,ham,As per your request 'Melle Melle (Oru Minnamin...

In [6]:
df.columns=["Target","Massege"]

In [7]:
df.head()

  Target                                            Massege
0   spam  Free entry in 2 a wkly comp to win FA Cup fina...
1    ham  Nah I don't think he goes to usf, he lives aro...
2    ham  Even my brother is not like to speak with me. ...
3    ham                I HAVE A DATE ON SUNDAY WITH WILL!!
4    ham  As per your request 'Melle Melle (Oru Minnamin...

In [9]:
df.shape

(5567, 2)

In [10]:
df.iloc[0,1]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [16]:
def process(x):
    return x.lower()
df['Massege'].apply(process)

0       free entry in 2 a wkly comp to win fa cup fina...
1       nah i don't think he goes to usf, he lives aro...
2       even my brother is not like to speak with me. ...
3                     i have a date on sunday with will!!
4       as per your request 'melle melle (oru minnamin...
                              ...
5562    this is the 2nd time we have tried 2 contact u...
5563                 will Ã¼ b going to esplanade fr home?
5564    pity, * was in mood for that. so...any other s...
5565    the guy did some bitching but i acted like i'd...
5566                           rofl. its true to its name
Name: Massege, Length: 5567, dtype: object

In [18]:
df['Massege']=df['Massege'].apply(process)
df.head()

  Target                                            Massege
0   spam  free entry in 2 a wkly comp to win fa cup fina...
1    ham  nah i don't think he goes to usf, he lives aro...
2    ham  even my brother is not like to speak with me. ...
3    ham                i have a date on sunday with will!!
4    ham  as per your request 'melle melle (oru minnamin...

In [19]:
df.Target.value_counts()

ham     4821
spam     746
Name: Target, dtype: int64

In [20]:
(746/4821) * 100

15.473968056419828

we show this dataset not balanced

In [30]:
df.head()

  Target                                            Massege
0   spam  free entry in 2 a wkly comp to win fa cup fina...
1    ham  nah i don't think he goes to usf, he lives aro...
2    ham  even my brother is not like to speak with me. ...
3    ham                i have a date on sunday with will!!
4    ham  as per your request 'melle melle (oru minnamin...

In [33]:
tf_idf=TfidfVectorizer()
fit_message=tf_idf.fit_transform(df.Massege)

In [34]:
tf_idf

TfidfVectorizer()

In [35]:
tf_idf.get_feature_names_out()

array(['00', '000', '000pes', ..., 'Ã¨n', 'Ãº1', 'ã¨ud'], dtype=object)

In [36]:
x=pd.DataFrame.sparse.from_spmatrix(fit_message,columns=tf_idf.get_feature_names_out())
x

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,Ã¨n,Ãº1,ã¨ud
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5562,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5564,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5565,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5566,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
x_train,x_test,y_train,y_test=train_test_split(x,df['Target'],test_size=0.2,random_state=44)

In [45]:
x_train.shape,x_test.shape

((4453, 8707), (1114, 8707))

In [46]:
y_train.shape

(4453,)

In [47]:
model=MultinomialNB()
model.fit(x_train,y_train)

MultinomialNB()

In [49]:
pred=model.predict(x_test)
print(metrics.classification_report(pred,y_test))

              precision    recall  f1-score   support

         ham       1.00      0.97      0.98      1001
        spam       0.78      1.00      0.88       113

    accuracy                           0.97      1114
   macro avg       0.89      0.98      0.93      1114
weighted avg       0.98      0.97      0.97      1114

In [50]:
print(metrics.confusion_matrix(pred,y_test))

[[969  32]
 [  0 113]]

In [52]:
model.score(x_test,y_test)

0.9712746858168761

In [55]:
model_svc=MultinomialNB()
model_svc.fit(x_train,y_train)

MultinomialNB()

In [57]:
pred_1=model_svc.predict(x_test)
print(metrics.classification_report(pred_1,y_test))

              precision    recall  f1-score   support

         ham       1.00      0.97      0.98      1001
        spam       0.78      1.00      0.88       113

    accuracy                           0.97      1114
   macro avg       0.89      0.98      0.93      1114
weighted avg       0.98      0.97      0.97      1114

In [58]:
model_nn=MLPClassifier(hidden_layer_sizes=(128,128),activation='relu',solver='adam',alpha=0.001,)

In [59]:
model_nn.fit(x_train,y_train)

MLPClassifier(alpha=0.001, hidden_layer_sizes=(128, 128))

In [60]:
pred=model_nn.predict(x_test)
print(metrics.classification_report(pred,y_test))

              precision    recall  f1-score   support

         ham       1.00      0.99      0.99       978
        spam       0.92      0.99      0.95       136

    accuracy                           0.99      1114
   macro avg       0.96      0.99      0.97      1114
weighted avg       0.99      0.99      0.99      1114

In [62]:
print(metrics.confusion_matrix(pred,y_test))

[[967  11]
 [  2 134]]

In [63]:
print(model.score(x_test,y_test))

0.9712746858168761

In [66]:
pipeline = pipeline.Pipeline(
    [
        ("vect", CountVectorizer()),
        ("tfidf", TfidfTransformer()),
        ("clf", MLPClassifier(hidden_layer_sizes=(128,128),activation='relu',solver='adam',alpha=0.001)),
    ]
)

In [68]:
x_train_pip,x_test_pip,y_train_pip,y_test_pip=train_test_split(df['Massege'],df['Target'],test_size=0.2,random_state=44)

In [69]:
pipeline.fit(x_train_pip,y_train_pip)

Pipeline(steps=[('vect', CountVectorizer()), ('tfidf', TfidfTransformer()),
                ('clf',
                 MLPClassifier(alpha=0.001, hidden_layer_sizes=(128, 128)))])

In [71]:
pipeline.predict(x_test_pip)

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype='<U4')

In [72]:
print(metrics.classification_report(pipeline.predict(x_test_pip),y_test_pip))

              precision    recall  f1-score   support

         ham       1.00      0.99      0.99       977
        spam       0.93      0.99      0.96       137

    accuracy                           0.99      1114
   macro avg       0.96      0.99      0.98      1114
weighted avg       0.99      0.99      0.99      1114

In [74]:
pipeline.predict(["hello,ahmed i love you work"])[0]

'ham'

In [75]:
text="""Learn more about the Post Graduate Certificate in Deep Learning for Computer Vision & XR  - Coursera    
Indian Institute of Technology Guwahati 
Build a career in deep learning with a PG Certificate from IIT Guwahati
This programme will enable you to master the core skill sets required to work with deep learning methods in various application domains. You will also learn to develop and deploy full-fledged deep learning-based models and applications.
Listen to the faculty explain how this course will empower you to design, develop and deploy augmented and virtual reality systems using the Unity game engine and SDKs for VR/AR applications on desktops and mobile platforms.
Details about the curriculum and career outcomes for this 100% online post-graduate certificate program will also be shared directly by the faculty.
Enrolments are closing in two weeks. Classes start on 7 September 2022."""

In [76]:
pipeline.predict([text])

array(['ham'], dtype='<U4')

In [78]:
pipeline.predict(["you are won a prize , please show it"])

array(['spam'], dtype='<U4')

save model

In [79]:
import pickle
with open("model.pkl","wb") as f:
    pickle.dump(pipeline,f)

In [80]:
with open("model.pkl","rb") as f:
    model_load=pickle.load(f)

In [81]:
model_load.predict(["you are won a prize , please show it"])[0]

'spam'

In [82]:
def predict_spam_email(text):
    res=model_load.predict([text])
    if res[0] == 'ham':
        return "this is import email"
    else:
        return "this is spam email"

In [83]:
print(predict_spam_email("you are won a prize , please show it"))

this is spam email