# Email/SMS Spam Filtering

### introduction
we use Natural Language Processing and RNN / LSTM to classifier Email spam or no

### Libs we use in it
*- NLTK <br>
*- Spacy <br>
*- pandas <br>
*- Keras <br>
etc..

### Spam filter is a basic example of Machine learning

let's go start

### import Libs

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
import tensorflow as tf
from tensorflow import keras
import nltk
import spacy
nlp=spacy.load("en_core_web_sm")

In [8]:
# Filtering out the warnings
import warnings
warnings.filterwarnings('ignore')

### load dataset

In [3]:
df=pd.read_csv("SMSSpamCollection.csv",delimiter="\t",header=None)

In [5]:
df.columns=["Label","Text"]

In [6]:
df.head()

  Label                                               Text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

## Explore dataset

In [7]:
df.shape

(5568, 2)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5568 entries, 0 to 5567
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   5568 non-null   object
 1   Text    5568 non-null   object
dtypes: object(2)
memory usage: 87.1+ KB

In [10]:
df.describe()

       Label                    Text
count   5568                    5568
unique     2                    5165
top      ham  Sorry, I'll call later
freq    4822                      30

ham ==> no spam ==> 1<br>
spam ==> spam ==> 0 <br>
we apply this in DataFrame

In [11]:
df.Label.value_counts()

ham     4822
spam     746
Name: Label, dtype: int64

we show percentage of each label

In [12]:
df.Label.value_counts(normalize=True)

ham     0.86602
spam    0.13398
Name: Label, dtype: float64

In [13]:
df.isnull().sum()

Label    0
Text     0
dtype: int64

we show no missing value

## Text Preprocessing

In [15]:
import string
puncts=string.punctuation
puncts

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [16]:
text=df.iloc[0,1]
text

"I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times."

In [17]:
no_puncts=""
for i in text:
    if i not in puncts:
        no_puncts+=i
no_puncts

'Ive been searching for the right words to thank you for this breather I promise i wont take your help for granted and will fulfil my promise You have been wonderful and a blessing at all times'